@model Labb_3.Models.Fiskar

@{
    ViewData["Title"] = "UpdateFisk";
}

<h1>Ändra Fisk</h1>
Antal rader uppdaterade: @ViewBag.antal
 @ViewBag.error
<h4>Fiskar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateFisk">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Art" class="control-label"></label>
                <input asp-for="Art" class="form-control" />
                <span asp-validation-for="Art" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vikt" class="control-label"></label>
                <input asp-for="Vikt" class="form-control" />
                <span asp-validation-for="Vikt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vatten" class="control-label"></label>
                <input asp-for="Vatten" class="form-control" />
                <span asp-validation-for="Vatten" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                    <label asp-for="Persnr" class="control-label"></label>
                    <input asp-for="Persnr" class="form-control" />
                    <span asp-validation-for="Persnr" class="text-danger"></span>
                </div>*@
            @*<div class="form-group">
                    <label asp-for="Betenr" class="control-label"></label>
                    <input asp-for="Betenr" class="form-control" />
                    <span asp-validation-for="Betenr" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

