@model Labb_3.Models.Beten

@{
    ViewData["Title"] = "UpdateBeten";
}

<h1>Ändra Bete</h1>
Antal rader uppdaterade: @ViewBag.antal
Eventuellt meddelande: @ViewBag.error

<h4>Beten</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateBeten">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="ID" class="control-label"></label>
                    <input asp-for="ID" class="form-control" />
                    <span asp-validation-for="ID" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="Typ" class="control-label"></label>
                <input asp-for="Typ" class="form-control" />
                <span asp-validation-for="Typ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

